header {
  background-color: black;
  color: #fff;
}

.navBar {
  display: flex;
  height: 50px;
  align-items: center;

  ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;

    li {
      a {
        text-decoration: none;
        color: #fff;
        padding: 1rem;
        transition: 0.3s;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .features {
    margin-left: auto;
    display: flex;
    gap: 1rem;
  }
}
