$container-width: 1280px;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @font-face {
    font-family: agentimage;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://resources.agentimage.com/fonts/agentimage.woff2?v210)
      format("woff2");
  }
}

.container {
  max-width: $container-width;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 64px;
  text-align: center;
  margin-bottom: 1rem;
}
